{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    {% include 'menu/head.html'%}

<body class="container-fluid">

    <!--Barra de navegação para o voltar a página anterior + miniatura da logo-->
    {% include 'menu/nav.html' %}
    

    <!--Botões para a seleção direta dos modos de jogo-->
    <!--Futuramente mais utilidades serão adicionadas para facilitar a procura de salas de jogo...-->
    <!--a procura pela sala de amigos e até por partidas-->
    <div class="container-fluid vertical-center">
        <div class="row justify-content-md-center container-fluid ">

            <!--Coluna dos botões da página principal-->
            <div class="col-12 col-md-5 menu-item-list align-self-center flex-column">
                <a class="menu-bt alert-bt" href = "{% url 'notas' %}">Notas</a>
                <a class="need_loading menu-bt" href = "sanches/">Sanches</a>
                <a class="need_loading menu-bt" href = "kayo/">Kayo</a>
                <a class="need_loading menu-bt" href = "{% url 'treuke-analise' %}">Treuke</a>
                <a class="need_loading menu-bt" href = "laguardia/">Laguardia</a>

            </div>
        </div>
    </div>
    <script>
        bt=document.getElementsByClassName("need_loading")
        for (b=0;b<(bt.length);b++){
            bt[b].addEventListener("click",function(e){e.target.classList.add("loading-bt"); e.target.text = "Carregando...";})
        }
    </script>
</body>

</html>