{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    {% include 'menu/head.html'%}

<body class="container-fluid">

    <!--Barra de navegação para o voltar a página anterior + miniatura da logo-->
    {% include 'menu/nav.html' with includeExplanation=False %}
    

    <!--Botões para a seleção direta dos modos de jogo-->
    <!--Futuramente mais utilidades serão adicionadas para facilitar a procura de salas de jogo...-->
    <!--a procura pela sala de amigos e até por partidas-->
    <div class="container-fluid vertical-center">
        <div class="row justify-content-md-center container-fluid ">

            <!--Coluna dos botões da página principal-->
            <div class="col-12 col-md-5 menu-item-list align-self-center flex-column">
                <a class="menu-bt alert-bt" href = "{% url 'notas' %}"><i class="fas fa-stream"></i> Notas</a>
                <a class="menu-bt" href = "sanches/"><i class="fas fa-table-tennis"></i> Sanches</a>
                <a class="menu-bt" href = "kayo/"><i class="fas fa-stream"></i> Kayo</a>
                <a class="menu-bt" href = "{% url 'treuke-analise' %}"><i class="fas fa-stream"></i> Treuke</a>
                <a class="menu-bt" href = "laguardia/"><i class="fas fa-stream"></i> Laguardia</a>

            </div>
        </div>
    </div>
    <script>
        bt=document.getElementsByClassName("menu-bt")
        for (b=0;b<(bt.length);b++){
            bt[b].addEventListener("click",function(e){e.target.classList.add("loading")})
        }
    </script>
</body>

</html>