{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

    {% include 'menu/head.html'%}

<body class="container-fluid">

    <!--Barra de navegação para o voltar a página anterior + miniatura da logo-->
    {% include 'menu/nav.html' with includeExplanation=True %}
        
    <!--Botões para a seleção direta dos modos de jogo-->
    <!--Futuramente mais utilidades serão adicionadas para facilitar a procura de salas de jogo...-->
    <!--a procura pela sala de amigos e até por partidas-->
    <div id="modos" class="row justify-content-center">
        <a class="final__gradient-button-1 col-2" href="{% url 'jogo'%}">
            <img class="img-fluid icon-bt" src="{% static 'img/icon1.png' %}" alt="Icone modo de jogo 1">
        </a>
        <a class="final__gradient-button-1 col-2" href="{% url 'jogo'%}">
            <img class="img-fluid icon-bt" src="{% static 'img/icon2.png' %}" alt="Icone modo de jogo 1">
        </a>
        <a class="final__gradient-button-1 col-2" href="{% url 'jogo'%}">
            <img class="img-fluid icon-bt" src="{% static 'img/icon3.png' %}" alt="Icone modo de jogo 1">
        </a>
        <a class="final__gradient-button-1 col-2" href="{% url 'jogo'%}">
            <img class="img-fluid icon-bt" src="{% static 'img/icon4.png' %}" alt="Icone modo de jogo 1">
        </a>
    </div>  

</body>

</html>