{% load static %}

<!DOCTYPE html>
<html lang="en">
    
{% include 'menu/head.html' with html_to_add='<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">' %}
<!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <body class="container-fluid">
        
    {% include 'menu/nav.html' %}

    <!--Exibição de perfil do usuário logado-->
    <div>
        <img id= "rank-image" src = "{% static rank_img %}" alt="rank image" draggable="false">

        <div class = "row justify-content-center">
            <div class = "col-12 col-md-5">
            <h1 > {{nome}} </h1>
            </div>

            <div class="col-12 col-md-5">
            <h1 > Rank: {{ player_rank }} </h1>
            </div>
        </div>

        <div class = "row justify-content-center">
            <div class = "col-12 col-md-8">
                <div id="table-profile">
                    <table>
                        <tr>
                            <td>
                                <span class="material-icons">
                                    favorite
                                    </span>
                            </td>
                            <td>
                                Modo Favorito:
                            </td>
                            <td>
                                Caótico
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="material-icons">
                                    emoji_events
                                </span>
                                </td>
                                <td>
                                Vitórias:
                            </td>
                            <td>
                                {{ vitorias }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="material-icons">
                                    videogame_asset
                                </span>
                                </td>
                                <td>
                                    Nº de Partidas:
                            </td>
                            <td>
                                {{ partidas }}
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span class="material-icons">
                                    schedule
                                </span>
                                </td>
                                <td>
                                Tempo de Jogo:
                            </td>
                            <td>
                                {{ tempo_jogo }} min
                            </td>
                        </tr>
                    </table>
                </div>
             </div>
        </div>
        <form action="." method="POST">{% csrf_token %}
            <input type="hidden" name="logout" value="logout">
            <button class="menu-bt alert-bt text-center" type="submit">LogOut</button>
        </form>
    </div>
</body>
</html>